img {
  max-width: 100%;
}

.login {
  background-image: url("https://c.wallhere.com/photos/ce/36/1920x1200_px_General-1197902.jpg!d");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.header__text {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-left: 5px;
  width: 90px;
  color: white;
}

.header__text--black {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

.principal {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  background-color: #7741ed;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title {
  margin: 10px 0;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.inputWithIcon:nth-child(3) {
  margin-top: 15px;
}

.box-footer {
  margin-top: 40px;
}

.box-footer:last-child {
  margin-top: 20px;
}

@media screen and(min-width: 1000px) {
  .form {
    width: 400px;
    height: 450px;
  }

  .form__title {
    font-size: 1.5rem;
  }

  .input {
    width: 250px;
    padding: 10px;
  }

  .icon {
    font-size: 35px;
    height: 65%;
  }

  .form__link {
    font-size: 0.9rem;
  }

  .box-footer {
    margin-top: 50px;
  }

  .box-footer:last-child {
    margin-top: 40px;
  }
}

.login {
  height: 100vh;
}

.containerOfHeader {
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.containerImgHeader {
  width: 80px;
  padding: 10px;
  border-radius: 50px;
}

.header__text {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-left: 5px;
  width: 90px;
  color: white;
}

.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8f4fd9;
}

.form__title {
  font-family: "Black Ops One", cursive;
  margin: 40px 0;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
