<div class="login">
  <main class="main">
    <form class="form">
      <div class="box-title">
        <i class="pi pi-user" style="font-size: 5rem ;  padding: 2rem"></i>
      </div>
      <div class="inputWithIcon inputIconBg">
        <span class="p-float-label">
          <p-password [feedback]="false"></p-password>
          <label for="Usuario">Usuario</label>
        </span>
        <i class="fa fa-user fa-lg fa-fw icon" aria-hidden="true"></i>
      </div>
      <div class="inputWithIcon inputIconBg">
        <p-password [toggleMask]="true"></p-password>
        <i
          class="fa fa-lock fa-lg fa-fw icon"
          aria-hidden="true"
          placeholder="Contraseña"
        ></i>
      </div>

      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Ingresar</button>
      </div>
      <div class="text-invalid" *ngIf="verifyDataSession">
        <p>¡Usuario y Contraseña no Validos!</p>
      </div>
      <div class="box-footer">
        <a href="#" class="form__link">¿Olvidaste tu contraseña ?</a>
      </div>
    </form>
  </main>
</div>
