<div class="login">
  <main class="principal">
    <form class="formulario">
      <div class="box-title">
        <i class="pi pi-user" style="font-size: 5rem ;  padding: 2rem"></i>
      </div>
      <div class="inputWithIcon inputIconBg">
        <span class="p-float-label">

          <span class="p-float-label">
            <input pInputText id="username" />
            <label htmlFor="username">Usuario</label>
        </span>
        </span>
      </div>
      <div class="inputWithIcon">
        <p-password [toggleMask]="true"></p-password>
        <i
          class="fa fa-lock fa-lg fa-fw icon"
          aria-hidden="true"
          placeholder="Contraseña"
        ></i>
      </div>

      <div class="box-footer">
        <p-button label="Ingresar" styleClass="p-button-ingresar"></p-button>
      </div>
    </form>
  </main>
</div>
