<div class="login">
    <main class="main">
      <form class="form">
        <div class="box-title">
          <h1 class="form__title">LOGIN</h1>
        </div>
        <div class="inputWithIcon inputIconBg">
          <input
            type="text"
            placeholder="Usuario"
            class="input"
            name="usuario"
          />
          <i class="fa fa-user fa-lg fa-fw icon" aria-hidden="true"></i>
        </div>
        <div class="inputWithIcon inputIconBg">
          <input
            type="password"
            placeholder="Contraseña"
            class="input"
            name="password"
          />
          <i class="fa fa-lock fa-lg fa-fw icon" aria-hidden="true"></i>
        </div>
      
        <div class="box-footer">
          <button type="submit" class="btn btn-primary">
            Ingresar
          </button>
        </div>
        <div class="text-invalid"
        *ngIf="verifyDataSession">
            <p>¡Usuario y Contraseña no Validos!</p>
        </div>
        <div class="box-footer">
          <a href="#" class="form__link">¿Olvidaste tu contraseña ?</a>
        </div>
      </form>
    </main>
  </div>

