

img {
  max-width: 100%;
}

.login {
  background-color: #7d8083;
  height: 100vh;
}

.containerOfHeader {
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.containerImgHeader {
  width: 80px;
  padding: 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #d0d0d0;
}

.header__text {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-left: 5px;
  width: 90px;
  color: white;
}

.header__text--black {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}


.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dcdcdc;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 0 8px 0 white;
}

.form__title {
  font-family: "Black Ops One", cursive;
  margin: 40px 0;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}



.input:focus {
  border-color: rgb(12, 18, 23);
  box-shadow: 0 0 8px 0 rgb(5, 16, 26);
}

.inputWithIcon .input {
  padding-left: 45px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon:nth-child(3) {
  margin-top: 15px;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon .input:focus + i {
  color: rgb(162, 185, 207);
}

.inputWithIcon.inputIconBg i {
  background-color: #b56b6b;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg .input:focus + i {
  color: #fff;
  background-color: rgb(62, 68, 74);
}

.form__link {
  color: #2e3640;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: end;
}

.btn {
  width: 150px;
  padding: 7px 0;
  background-color: #b1b9c3;
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2 ease;
  -ms-transition: all 0.2 ease;
  -o-transition: all 0.2 ease;
}

.btn:enabled:hover {
  cursor: pointer;
  padding: 10px 5px;
}

.box-footer {
  margin-top: 40px;
}

.box-footer:last-child {
  margin-top: 20px;
}
.icon {
  height: 65%;
  line-height: 65%;
}

.text-invalid {
  margin-top: 20px;
  color: rgb(137, 75, 75);
  font-weight: bolder;
}

@media screen and(min-width: 1000px) {
  .form {
    width: 400px;
    height: 450px;
  }

  .form__title {
    font-size: 1.5rem;
  }

  /* TODO: INPUTS*/
  .input {
    width: 250px;
    padding: 10px;
  }

  .icon {
    font-size: 35px;
    height: 65%;
  }

  .inputWithIcon {
    margin-top: 18px;
  }

  .form__link {
    font-size: 0.9rem;
  }

  .btn {
    width: 180px;
    padding: 10px 0;
    background-color: #2a8c09;
  }

  .box-footer {
    margin-top: 50px;
  }

  .box-footer:last-child {
    margin-top: 40px;
  }
}
/* TODO: Styles de login header */

img {
  max-width: 100%;
}

.login {
  background-color: #f39a00;
  height: 100vh;
}

.containerOfHeader {
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.containerImgHeader {
  width: 80px;
  padding: 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #d0d0d0;
}

.header__text {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-left: 5px;
  width: 90px;
  color: white;
}

.header__text--black {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

/* TODO: LOGIN*/

.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dcdcdc;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 0 8px 0 white;
}

.form__title {
  font-family: "Black Ops One", cursive;
  margin: 40px 0;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.input {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.input:focus {
  border-color: rgb(94, 102, 110);
  box-shadow: 0 0 8px 0 rgb(53, 56, 60);
}

.inputWithIcon .input {
  padding-left: 45px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon:nth-child(3) {
  margin-top: 15px;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon .input:focus + i {
  color: rgb(165, 174, 184);
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg .input:focus + i {
  color: #fff;
  background-color: rgb(7, 8, 8);
}

.form__link {
  color: #71777e;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: end;
}

.btn {
  width: 150px;
  padding: 7px 0;
  background-color: #737d88;
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2 ease;
  -ms-transition: all 0.2 ease;
  -o-transition: all 0.2 ease;
}

.btn:enabled:hover {
  cursor: pointer;
  padding: 10px 5px;
}

.box-footer {
  margin-top: 40px;
}

.box-footer:last-child {
  margin-top: 20px;
}
.icon {
  height: 65%;
  line-height: 65%;
}

.text-invalid {
  margin-top: 20px;
  color: red;
  font-weight: bolder;
}

@media screen and(min-width: 1000px) {
  .form {
    width: 400px;
    height: 450px;
  }

  .form__title {
    font-size: 1.5rem;
  }
  .input {
    width: 250px;
    padding: 10px;
  }

  .icon {
    font-size: 35px;
    height: 65%;
  }

  .inputWithIcon {
    margin-top: 18px;
  }

  .form__link {
    font-size: 0.9rem;
  }

  .btn {
    width: 180px;
    padding: 10px 0;
    background-color: #b6cad4;
  }

  .box-footer {
    margin-top: 50px;
  }

  .box-footer:last-child {
    margin-top: 40px;
  }
}
